/*TErcera forma de poner estilo- la mejor*/
*, *::after, *::before{/*Este selector afecta a todo, menos a los pseudoelementos*/
	box-sizing: border-box;
}

a{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px;
} 

h1{
	     	text-decoration: underline;
	     	border: 1px solid red;
	     	color:brown !important;
	     }

h2{
	color:dodgerblue;
}

p{
	color:dodgerblue;
}

h2.titulo{
	color:orange;
}

#texto{
	font-size: 80px;
}

section.articulo p.orange{
	color: orange;
}

section:first-child{ /*Solo el primer elemento es el afectado*/
	color: red;
}

section:last-child{ /*Solo el primer elemento es el afectado*/
	color: black;
}

.superior{
	color:dodgerblue;
}
#tit{
	color:gold;
}

.caja{
	/*Color css*/
	margin:20px;
	height: 150px;
	width: 150px;
	background-color: #7d8a2d; /*Se recomienda este*/
	background-color: rgb(153, 42, 17);
	background-color: rgba(153, 42, 17,0.5);
	background-color: hsl(172, 64%, 23%);
	background-color: hsl(172, 64%, 23%,0.5);
	background-color: dodgerblue;
	border: 10px dashed red;
    border-width:10px 20px 5px 30px;
    border-radius:50%;
    border-radius:100%;/* más seguro que te deje un circulo*/
    border-radius:10%;
    /*Bordes css*/
    box-shadow: 30px 10px 20px grey; /*Te hace como una sombra el tercer parametro
    es el difuminado*/
    box-shadow: 0 0 10px grey; /*Te hace como una sombra el tercer parametro
    es el difuminado*/


}


h3{
	padding: 15px;
	color:white;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

div.caja2 p{
	border: 1px solid red;
	padding: 10px 10px 10px 10px;
	/*margin:30px;*/
}

.caja3{
	width:100px;
	height: 100px;
	background-color: tomato;
	padding:10px;
	border:10px solid gold; /*Se suman los bordes, desfase de tamaños*/
	margin:10px; /*No modifica el tamaño,no afecta*/
	box-sizing: border-box;
}

.caja4{
	width:100px;
	height: 100px;
	background-color: tomato;
	padding:10px;
	border:10px solid gold; /*Se suman los bordes, desfase de tamaños*/
	margin:10px; /*No modifica el tamaño,no afecta*/
	
}

.caja3::before{
	content: 'Hola mundo';
}

.contenedor{
	height: 150px;
	width: 150px;
	background-color: lightgreen;
	margin:40px;
	/*overflow:hidden;*/
    /*overflow-x:scroll;*/
    /*overflow-y:scroll;*/
    overflow:auto; /*Te hace las 2 últimas, recomendable*/
}
.caja5{
	height: 300px;
	width: 400px;
	background-color: tomato; /*Se sobrepasa todo, metemos un overflow arriba*/
}


html{
	font-size:10px; /*Para el rem, se adapta al tamaño de la fuente*/
}
.caja6{
	/*height: 150px;
	width: 150px;*/


   /*Se recomienda esta*/
	/*height: 90vh;
	width: 90vw;*/

	
	height: 10rem;
	width: 10rem;

	background-color: tomato; /*Si reduzco el tamaño de la ventana tiene el mismo tamaño, no es responsivo*/
   /*relativas % vh vw em rem*/


}


.contenedor2{
	height: 80vh;
	width: 80vw;
	border: 5px solid lightgrey;
	margin:0 auto;
}

.caja7{
	height: 10rem;
	width: 10rem;
	margin:1rem;
}

.caja-uno{
	background-color: tomato; 
}
.caja-dos{
	background-color: gold; 
	position:relative;
	left:-5rem;
	top:5rem;
	z-index:-1;/*Te bajan capas*/
}

.caja-tres{
	background-color: dodgerblue; 

}

/*Utilizar el absolute aquí abajo, el resto tiene que estar en relative*/
.contenedor3{
	height: 80vh;
	width: 80vw;
	border: 5px solid lightgrey;
	margin:0 auto;
	position:relative;
}
.caja9{
	height: 10rem;
	width: 10rem;
	margin:1rem;
	position:relative;
}

.caja-cuatro{
	background-color: tomato; 
}
.caja-cinco{
	background-color: gold; 
	position:absolute;
	bottom:0;
	right:0;
}

.caja-seis{
	background-color: dodgerblue; 
}

.contenedor4{
	width: 80vw;
	height: 80vh;
	border:1rem solid lightgreen;
	display: flex;
	flex-wrap:wrap;
	
	
	/*flex-direction: column-reverse;*/
	/*flex-direction: column;
	justify-content: center;
	align-items: center;*/

	flex-direction: row;
	justify-content:flex-start;
	/*justify-content:flex-end;*/
	/*justify-content:space-around;*/
	/*justify-content: space-between;*/
}

.caja11{
	height: 10rem;
	width: 10rem;
	background-color: tomato;
	margin:1rem;
}


section.par{
	background-color: #f0f5f5;
}
.ti{
	color:black !important;
	text-decoration: none;
	     	border: none;
	     	text-align: center;
}



.grid-container{
	height: 90vh;
	width: 90vw;
	border: 5px solid lightgray;
	margin:0 auto;
	display:grid;
	grid-template:"header header header"     /*HAy que definirlo antes de decir las fracciones*/
	               "nav main derecha"
	               "footer footer footer";
	grid-template-columns: 2fr 8fr 2fr;
	grid-template-rows: 2fr 8fr 1fr;
	
}

header{
	grid-area:header;
	background-color: tomato;

}

nav{
	grid-area:nav;
     background-color: dodgerblue;
}

nav.derecha{
	grid-area:derecha;
     background-color: blueviolet;
}

main{
	grid-area:main;
     background-color: purple;
}

footer{
	grid-area:footer;
     background-color: gold;
}





